p { 
    margin: 0;
}

a {
    text-decoration: none;
}

body{    
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navbarSite{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #232B2B;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.elementNavbar{
    margin-left: 0.5%;
    margin-right: 7%;
    min-width: 10%;
    min-height: 50%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1e1e1e;
    border: 1px solid white;
    cursor: pointer;
    font-size: 3vw;
    color: white;
}

.bandaTitlu{
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titlu{
    font-size: 3vw;
    color: white;
}

.containerBody{
    display: flex;
    max-width: 100%;
    max-height: 80%;
    flex-grow: 1;
    flex-direction: row;
    border: 0.1vw solid white;
    margin: 0.5vw;
}
::-webkit-scrollbar {
    display: none;
}

.bodyStanga{
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-top: 2%;
    overflow: scroll;
    scrollbar-width: none;
}

.bodyDreapta{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin-top: 2%;
    overflow-y: scroll;
}

.containerPoza{
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
}

.poza {
    width: auto;
    height: 70%;
    border-radius: 3%;
}

.pozaConturi{
    width: auto;
    height: 100%;
}

.containerNume {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    flex-direction: column;
}

.nume {
    font-size: 3vw;
    color: white;
    font-weight: bold;
}

.numeTitlu {
    font-size: 2.7vw;
    color: white;  
}

.containerContact{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.sectiuneContact{
    display: flex;
    flex-direction: row;
    padding: 1vw;
}

.elementStangaSeciuneContact{
    width: 30%;
    font-size: 2vw;
    color: white;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.elementDreaptaSeciuneContact{
    font-size: 2vw;
    color: white;
}

.containerPozaContact{
    display: flex;
    width: auto;
    height: 4vw;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
}


.sectiuneContactPoze{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    justify-content: center;
}

.titluSectiune{
    font-size: 3vw;
    color: white;
}

.containerSectiune{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 3vh;
}

.containerTitluSectiune{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
}

.paragrafSectiune{
    font-size: 2.5vw;
    color: white;
}

.subparagrafSectiune{
    font-size: 2vw;
    color: white;
}

.containerBodySectiune{
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

ul{
    list-style-type: none;   
    margin: 0;
}

.subliniat{
    border-bottom: 0.2vw solid white;
}

.footer{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #232B2B;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row; 
}   

@media (min-width: 1200px) {
    .poza{
        height: 100%;
    }
    .nume{
        font-size: 2vw;
    }
    .numeTitlu{
        font-size: 1.7vw;
    }
    .elementNavbar{
        font-size: 2vw;
    }
    .titlu{
        font-size: 2.3vw;
    }
    .titluSectiune{
        font-size: 2vw;
    }
    .paragrafSectiune{
        font-size: 1.5vw;
    }
    .subparagrafSectiune{
        font-size: 1vw;
    }
    .containerNume{
        margin-top: 1vh;
    }
    .elementStangaSeciuneContact, .elementDreaptaSeciuneContact{
        font-size: 1.5vw;
    }
    .pozaConturi{
        height: 70%;
    }
    
}

@media(min-width: 300px){
        
}